{% extends "webapp/base.html" %}
{% load crispy_forms_tags %}




{% block content %}
    <body>
        <div class='container bg-danger shadow-md p-5 mt-5 form-layout'>
        
            <h3> Create Account</h3> 
            <h5> Start adding in the required details for your record . </h5>
            <hr>
            <br>
            <form method="post" autocomplete="off">
                {% csrf_token %}

                   {{ form|crispy }}

                <br>

                <button type="submit" class="btn btn-dark w-100 btn-block p-2 ">Create Account</button>
            </form>
        </div>
    </body>
{% endblock content %}