{% extends "webapp/base.html" %}


{% block content %}
    
    <body>

        <br>
        <br>
        <br>
        <br>
        <hr>
        <div class="text-center mt-5">
            <h3 >
                Yobo CRM Project 
            </h3>
            <br>
            <h4>Keep Track of Your Recors Effectivelity !!</h4>

            <br>
            <hr>
            <br>
            <a class="btn btn-danger" type="button" href="{% url 'register' %}">Create Your Account  <i class="fa-solid fa-square-plus" style="color: #ffffff;"></i></a>
        
        </div>


    </body>






{% endblock content %}